:root {
  --white: #fff;
  --black: #000;
  --title-dark: #0a6469;
  --title: #11a0a8;
  --title-light: #18eaf5;
  --text-dark: #053032;
  --text: #0e888f;
  --text-logo: #0c5f92;
  --text-light: #e6ffff;
  --background-dark: #0c5f92;
  --background: #6be1e3;
  --background-light: #e6ffff;
  --blue-dark: #053032;
  --blue: #0e888f;
  --blue-light: #6be1e3;
  --shadow: #c1f8fb;
  --purple: #7922a850;
  --pink: #a8227850;
  --green: #09b55d50;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@media (min-width: 900px) {
  .default__config {
    font-size: 16px;
  }
}

@media (min-width: 1900px) {
  .default__config {
    font-size: 20px;
  }
}
.icone__contact {
  position: fixed;
  right: 3px;
  top: 10vw;
  padding: 0.6vw;
  z-index: 2;
}
.icone__img {
  margin: 0.2vw;
  width: 3vw;
  height: 3vw;
}
.flex__spacearound {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title {
  font-size: 32px;
  color: var(--title-dark);
  border-bottom: 1px solid var(--blue);
  align-self: center;
  margin-bottom: 3vw;
  text-align: center;
}
.flex__column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .title {
    font-size: 32px;
  }
  /* .element--width {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  } */
}

.container {
  width: 90vw;
  max-width: 1230px;
  margin: 0 auto;
}
