/* section header */
#header {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  box-shadow: 2px 2px 20px var(--shadow);
  z-index: 2;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
  width: 100%;
}
.header__img {
  height: 50%;
}
.header__list__menu {
  display: none;
}
.header__menu--width {
  display: none;
}

@media (max-width: 1000px) {
  .header__content {
    height: 10vw;
  }
  .header__list__menu {
    display: block;
    background-color: var(--background-ligh);
    border: var(--background-ligh);
    border-radius: 60px;
    margin-left: 5vw;
  }
  .header__menu--width {
    display: block;
    background-color: var(--white);
    width: 100vw;
    height: 8vh;
    position: absolute;
    top: 9vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
  }
}
